.notification {
    margin-top: 500px;
}
/*
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.button {
    margin: 20%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 7px 10px;
    border: none;
    background-color: teal;
    font-weight: 600;
    cursor: pointer;
}

.button:hover {
    color: white;
} */ 
